:root {
    --hover: #888;

    --btnBg: #333;
    --btnHover: #555;
    --white: white;

    --border: #ccc;
    --error: #dc3545;
    --focus: blue;
    --valid: green;
}

/* CONTACT */
#contact form {
    width: 80%;
    margin: 0 auto;
}

#contact form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#contact form input,
#contact form textarea,
#contact form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--border);
    border-radius: 5px;
    box-sizing: border-box;
    display: block;
    font-family: Arial, sans-serif;
}

#contact form textarea {
    min-height: 100px;
    resize: vertical;
}

#contact form input:hover,
#contact form textarea:hover,
#contact form select:hover {
    border-color: var(--hover);
}

#contact form button:hover {
    background-color: #f5f5f5;
    border-color: var(--hover);
}

#contact form input:focus,
#contact form textarea:focus,
#contact form select:focus {
    outline: none;
    border-color: var(--focus);
}

#contact form button {
    width: auto;
    background-color: var(--white);
    padding: 12px 30px;
    border: 1px solid;
    border-color: var(--border);
    border-radius: 5px;
    font-size: 14px;
    display: block;
    cursor: pointer;
    margin-left: auto;
}

#contact form input.errorBorder,
#contact form textarea.errorBorder,
#contact form select.errorBorder {
    border: 1px solid var(--error);
}

#contact form input.validBorder,
#contact form textarea.validBorder,
#contact form select.validBorder {
    border: 1px solid var(--valid);
}

small {
    color: var(--error);
}

.form-col {
    float: left;
    width: 49%;
    margin-right: 2%;
    box-sizing: border-box;
}

.form-col:last-child {
    margin-right: 0;
}

.form-row::after {
    content: "";
    display: block;
    clear: both;
}

.success-message {
    display: none;
}